@{
    ViewData["Title"] = "En desarrollo";
}

<div class="yerovy-card text-center py-5">

    <i class="fa-solid fa-screwdriver-wrench mb-4"
       style="font-size:4rem;color:#ff2d2d"></i>

    <h1 class="page-title">
        La interfaz se encuentra en desarrollo
    </h1>

    <p class="page-subtitle">
        Próximamente estará disponible este módulo.
    </p>

</div>