@if (Context.Session.GetString("Rol") != "admin")
{
    <h1>ERROR</h1>
    <p>Solo los administradores tienen permitido el acceso.</p>
}

@if (Context.Session.GetString("Rol") == "admin")
{
    @model List<YerovyInventoryService.Models.Categoria>

    <h2 class="mb-3">Lista de Categorias</h2>

    <a class="btn btn-success mb-3" href="/Categoria/Create">+ Nueva Categoria</a>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                <tr>
                    <td>@cat.Nombre</td>
                    <td>@cat.Descripcion</td>
                    <td>@cat.Estado</td>
                    <td>
                        <a class="btn btn-warning btn-sm"
                           href="/Categoria/Edit/@cat.Id">Editar</a>

                        <a class="btn btn-danger btn-sm"
                           href="/Categoria/Delete/@cat.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}