@if (Context.Session.GetString("Rol") != "admin")
{
    <h1>ERROR</h1>
    <p>Tu rol no tiene permisos para acceder a esta interfaz.</p>
}

@if (Context.Session.GetString("Rol") == "admin")
{
    @model List<YerovyInventoryService.Models.Usuario>

    <h2 class="mb-3">Lista de Usuarios</h2>

    <a class="btn btn-success mb-3" href="/Usuario/Create">+ Nuevo Usuario</a>

    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-md-3 mb-4">

                <div class="card h-100 shadow">

                    <div class="card-body">

                        <h5 class="card-tittle">@user.Rol</h5>

                        <p class="card-text">
                            Nombre: @user.Nombre <br />
                            Correo: @user.Correo <br />
                            Celular: @user.Celular <br />
                        </p>

                        <a href="/Usuario/Edit/@user.Id"
                           class="btn btn-warning btn-sm">Editar</a>
                        <a href="/Usuario/Delete/@user.Id"
                           class="btn btn-danger btn-sm">Eliminar</a>

                    </div>
                </div>
            </div>
        }
    </div>
}